body {
  background-color: #A8ADAF; 
}
p {
color: black;
  font-family: Liberation Serif ; 
  font-size: 18px;
}
titulo{font-size:30px;
color:#10A270;
text-shadow: 5px 2px 4px #2F4F4F;}

titulo2{font-size:30px;
color:#191970;
text-shadow: 5px 2px 4px #2F4F4F;}